In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [85]:
zomato = pd.read_csv('zomato.csv', encoding='latin-1')
#Limpar linha 1 vazia e alterar label coluna
type(zomato)

pandas.core.frame.DataFrame

In [86]:
df = pd.DataFrame((zomato[['Cuisines', 'Rating text', 'Average Cost for two', 'Price range', 'Aggregate rating', 'Votes']]))

In [87]:
df.rename(columns={'Average Cost for two':'media_preco',
                          'Price range':'alcance_preco',
                          'Aggregate rating':'classifi_agregada',
                          'Votes':'votos',
                           'Rating text':'taxa_votos',
                          'Cuisines':'cozinha'}, 
                 inplace=True)

In [88]:
df.head(2)

,cozinha,taxa_votos,media_preco,alcance_preco,classifi_agregada,votos
0,"French, Japanese, Desserts",Excellent,1100,3,4.8,314
1,Japanese,Excellent,1200,3,4.5,591

# Dicion√°rio

# Remover restaurantes com mais de uma cozinha

In [89]:
df2 = df[~df["cozinha"].str.contains(" ", na=False)]

In [90]:
X = df2['cozinha']

In [91]:
X = X.astype('str')

In [92]:
Y = df2['taxa_votos']

In [93]:
Y = Y.astype('str')

In [94]:
X = pd.concat([X, Y], axis=1)

In [95]:
X

            cozinha taxa_votos
1          Japanese  Excellent
5           Chinese  Very Good
9          Filipino  Excellent
13         Filipino  Very Good
14           Korean  Very Good
17         Filipino  Excellent
23             Cafe       Good
24           Bakery       Good
25        Brazilian       Good
26            Pizza    Average
27         Japanese    Average
28          Arabian       Good
29         Japanese       Good
31          Italian  Very Good
32            Pizza    Average
35    International  Very Good
38          Seafood    Average
39    International  Excellent
40          Italian    Average
46         Lebanese  Very Good
47           Burger  Excellent
51        Brazilian  Excellent
52        Brazilian  Very Good
53          Italian  Very Good
54         Japanese  Excellent
56        Brazilian  Very Good
59        Brazilian  Excellent
64           Indian    Average
65        Brazilian  Very Good
69        Brazilian  Not rated
...             ...        ...
9441           Cafe  Very Good
9444  Mediterranean  Excellent
9446          Sushi       Good
9458          Tapas  Excellent
9463       American  Very Good
9465        African  Excellent
9467         Indian  Very Good
9470        Mexican  Very Good
9474    Continental  Very Good
9484         French  Excellent
9485           Cafe  Very Good
9489        Mexican  Very Good
9490        Italian  Very Good
9493        Mexican  Very Good
9494          Steak  Very Good
9495  Mediterranean  Very Good
9497        Chinese    Average
9514        Seafood  Excellent
9517           Cafe  Very Good
9518          Kebab  Excellent
9522          Kebab  Excellent
9526          Steak  Very Good
9528           Cafe  Very Good
9531           Cafe       Good
9536          Pizza  Excellent
9537       Desserts  Excellent
9538           Cafe  Excellent
9543           Cafe  Excellent
9546        Turkish  Very Good
9550           Cafe  Very Good

[1679 rows x 2 columns]

In [96]:
labelencoder_dict = {}
onehotencoder_dict = {}

X_train = None
for i in range(0, X.shape[1]):
    label_encoder = preprocessing.LabelEncoder()
    labelencoder_dict[i] = label_encoder
    feature = label_encoder.fit_transform(X.iloc[:,i])
    #X_train.iloc[:,:]
    feature = feature.reshape(X.shape[0], 1)
    onehot_encoder = OneHotEncoder(sparse=False)
    feature = onehot_encoder.fit_transform(feature)
    onehotencoder_dict[i] = onehot_encoder
    if X_train is None:
          X_train = feature
    else:
          X_train = np.concatenate((X_train, feature), axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [97]:
def getEncoded(test_data,labelencoder_dict,onehotencoder_dict):
    test_encoded_x = None
    for i in range(0,test_data.shape[1]):
        label_encoder =  labelencoder_dict[i]
        feature = label_encoder.transform(test_data.iloc[:,i])
        feature = feature.reshape(test_data.shape[0], 1)
        onehot_encoder = onehotencoder_dict[i]
        feature = onehot_encoder.transform(feature)
        if test_encoded_x is None:
              test_encoded_x = feature
        else:
              test_encoded_x = np.concatenate((test_encoded_x, feature), axis=1)
    return test_encoded_x

In [98]:
type(X)

pandas.core.frame.DataFrame

In [99]:
X.iloc[:1,:]

    cozinha taxa_votos
1  Japanese  Excellent

In [100]:
arraskjdgajsk = getEncoded(X.iloc[:1,:],labelencoder_dict,onehotencoder_dict)

In [101]:
arraskjdgajsk

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]])

In [37]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X = df['cozinha']

In [103]:
df = df[~df["cozinha"].str.contains(" ", na=False)]

In [105]:
df.head(2)

    cozinha taxa_votos  media_preco  alcance_preco  classifi_agregada  votos
1  Japanese  Excellent         1200              3                4.5    591
5   Chinese  Very Good         1000              3                4.4    336

In [110]:
x_treinamento = X_train

In [117]:
type(x_treinamento)

numpy.ndarray

In [112]:
dfParaConcatenar = pd.DataFrame((df[['alcance_preco', 'classifi_agregada', 'votos']]))

In [114]:
x_treinamentoPC = np.array(dfParaConcatenar)

In [125]:
X_TREINAMENTO = np.concatenate((x_treinamento, x_treinamentoPC), axis=1)

In [126]:
X_TREINAMENTO.shape

(1679, 82)

In [127]:
#xTreinamento = np.array(df.drop('media_preco', 1))
Y_TREINAMENTO = np.array(df.media_preco)

In [128]:
Y_TREINAMENTO.shape

(1679,)

In [46]:
import xgboost as xgb
from sklearn import model_selection

In [47]:
xg_boost = xgb.XGBClassifier()

In [130]:
xg_boost.fit(X_TREINAMENTO[:60,:], Y_TREINAMENTO[:60])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [134]:
print(xg_boost.score(X_TREINAMENTO[:60,:], Y_TREINAMENTO[:60]))

#scores = model_selection.cross_val_score(xg_boost, X_TREINAMENTO, Y_TREINAMENTO, cv=5, scoring='accuracy')
##print(scores)
#print("Kfold on XGBClassifier: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std()))

0.8666666666666667

In [135]:
#cozinha	taxa_votos	media_preco	alcance_preco	classifi_agregada	votos

In [136]:
escolha = ['Japanese', 'Excellent', 4, 600, 4]

In [142]:
sales = [{'cozinha': escolha[0], 'votos': escolha[1]}]
DFPREDICAO = pd.DataFrame(sales)

In [143]:
DFPREDICAO

    cozinha      votos
0  Japanese  Excellent

In [144]:
op = getEncoded(DFPREDICAO,labelencoder_dict,onehotencoder_dict)

In [160]:
op

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]])

In [181]:
s = np.asarray(escolha[2:])

In [182]:
basd= s.reshape(1,3)

In [183]:
basd.shape

(1, 3)

In [187]:
op.shape

(1, 79)

In [188]:
escolha_predict = np.concatenate((op, basd), axis=1)

In [189]:
escolha_predict.shape

(1, 82)

In [190]:
print("Pre√ßo para algumas caracteristicas buscadas: ", xg_boost.predict(escolha_predict))

Pre√ßo para algumas caracteristicas buscadas:  [170]